<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select Player" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='redirect($event.option.value.playerID)' [displayWith]="displayFn">
      <mat-option *ngFor="let option of options | async" [value]="option">
        {{option.gamerTag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="player">{{player.gamerTag}}</mat-card-title>
    <mat-card-subtitle *ngIf="player.name">{{player.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-list dense>
        <mat-list-item *ngIf="player.twitterHandle">Twitter: {{player.twitterHandle}} </mat-list-item>
        <mat-list-item *ngIf="player.twitchStream">Twitch: {{player.twitchStream}} </mat-list-item>
        <mat-list-item *ngIf="player.state">State: {{player.state}} </mat-list-item>
        <mat-list-item *ngIf="player.country">Country: {{player.country}} </mat-list-item>
        <mat-list-item *ngIf="player.region">Region: {{player.region}} </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>
<mat-accordion>
  <mat-expansion-panel [expanded]=false>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sets
      </mat-panel-title>
      <mat-panel-description *ngIf="player.gamerTag">
        Sets that {{player.gamerTag}} has played
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <set-table [sets]="sets"></set-table>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]=false>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Head-To-Head
      </mat-panel-title>
      <mat-panel-description>
        How does {{player.gamerTag}} compare to other players?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <head-to-head-table [sets]="sets" [playerID]="playerID"></head-to-head-table>
  </mat-expansion-panel>
</mat-accordion>