<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select Player" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='redirect($event.option.value.playerID)' [displayWith]="displayFn">
      <mat-option *ngFor="let option of options | async" [value]="option">
        {{option.gamerTag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<player-overview [player]="player"></player-overview>
<mat-accordion>
  <mat-expansion-panel [expanded]=false>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sets
      </mat-panel-title>
      <mat-panel-description *ngIf="player.gamerTag">
        Sets that {{player.gamerTag}} has played
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <set-table [sets]="sets"></set-table>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Head-To-Head
      </mat-panel-title>
      <mat-panel-description>
        How does {{player.gamerTag}} compare to other players?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <head-to-head-table [sets]="sets" [playerID]="playerID"></head-to-head-table>
  </mat-expansion-panel>
</mat-accordion>