.example-form {
    min-width: 150px;
    width: 100%;
  }

table {
    width: 100%;
  }

.mat-list {
  display: block;
}


/* mat-column-expandedDetails,
mat-cell.example-set-detail {
    overflow: hidden;
    display: flex;
  } */
  
  /* mat-row.example-detail-row {
    height: 0;
    min-height: 0;
  } */
  
  mat-row:hover {
    background: #f5f5f5;
  }
  
  mat-row:active {
    background: #efefef;
  }
  
  mat-row.example-set-row {
    border-bottom-width: 0;
  }
  
  .example-element-description {
    padding: 16px;
  }

  mat-row {
    position: relative;
  }
  

mat-cell-opponentTag,
mat-header-opponentTag {
  display:flex;
  justify-content:right;
  /* padding: 20px; */
 }

mat-header-cell-miomRank,
mat-cell-miomRank,
mat-header-cell-mpgrRank,
mat-cell-mpgrRank {
  display:flex;
  justify-content:center;
}

.hidden {
  height: 0px;
  min-height: 0px;
  visibility: hidden;
}

.expanded {
  height: '*';
  visibility: visible;

}

.test {
  height: 100px;
}

.detail-row {
  min-height: 0px;
  border-bottom-width: 0;
}