<h3 class="mat-h2" >What Does This App Do?</h3>
<p>
  This app presents data for Super Smash Bros. Melee singles players. 
  All of the data is currently sourced from smash.gg, but data from other sources will eventually be added.
</p>
<h3 class="mat-h2">How To Use This App</h3>
<ul>
  <li>To select a player, enter their tag into the search bar near the top of the screen and then click their name when it appears in the dropdown menu.</li>
  <li>This app presents all sets for a given player as well as head-to-head information for that player versus the field.</li>
  <li>Click on the 'Sets' bar to see all sets the player has logged on smash.gg</li>
  <li>Click on the 'Head-To-Head' bar to see how the currently selected player fares against other players</li>
  <li>Click on the rows of the head-to-head table to see the sets between those two players.</li>
</ul>
<h3 class="mat-h2">Future Iterations</h3>
<ul>
  <li>Add data from other sources (challonge, for example)</li>
  <li>Add data for doubles events</li>
  <li>Add data for other games</li>
  <li>Improve UX</li>
  <li>Improve search function</li>
</ul>

