<div class="player-overview-container">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar class="header-image" [src]="imageURL">
        <div class="header-container">
        <mat-card-title *ngIf="player">{{player.gamerTag}}</mat-card-title>
        <mat-card-subtitle *ngIf="player.name">{{player.name}}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
        <mat-list dense>
          <mat-list-item *ngIf="player.twitterHandle">Twitter: {{player.twitterHandle}} </mat-list-item>
          <mat-list-item *ngIf="player.twitchStream">Twitch: {{player.twitchStream}} </mat-list-item>
          <mat-list-item *ngIf="player.state">State: {{player.state}} </mat-list-item>
          <mat-list-item *ngIf="player.country">Country: {{player.country}} </mat-list-item>
          <mat-list-item *ngIf="player.region">Region: {{player.region}} </mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>
</div>