.example-table-container {
    position: relative;
    overflow: auto;
}
mat-cell,
mat-header-cell {
  /* display:flex;
  justify-content:center; */
  padding: 20px;
 }
 
mat-header-cell-playerRecord,
mat-cell-playerRecord {
  display:flex;
  justify-content:center;
}

mat-header-cell:first-child,
mat-cell:first-child {
  max-width: 75px;
}

mat-row {
  align-items: stretch;
}

table {
    width: 100%;
}

.lightGreen {
  background-color: lightgreen
}

.lightRed {
  background-color: lightcoral;
}