<div class="example-table-container">

  <mat-table [dataSource]="displayedSets" class="example-table"
          matSort matSortActive="time" matSortDisableClear matSortDirection="desc">
    
    <!-- Score Column -->
    <ng-container matColumnDef="playerScore">
        <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
        <mat-cell *matCellDef="let set" [ngClass]="setCellColor(set)">{{displayResult(set)}}</mat-cell>
    </ng-container>

    <!-- Opponent Column -->
    <ng-container matColumnDef="opponentID">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Opponent
      </mat-header-cell>
      <mat-cell *matCellDef="let set">{{set.opponentTag}}</mat-cell>
    </ng-container>

    
    <!-- Tournament Column -->
    <ng-container matColumnDef="tournamentName">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Tournament
      </mat-header-cell>
      <mat-cell *matCellDef="let set">{{set.tournamentName ? set.tournamentName : set.TournamentName}}</mat-cell>
    </ng-container>
    
    <!-- Round Column -->
    <ng-container matColumnDef="round">
      <mat-header-cell *matHeaderCellDef>
          Round
      </mat-header-cell>
      <mat-cell *matCellDef="let set">{{set.phaseName}} - {{set.fullRoundText}}</mat-cell>
    </ng-container>

    <!-- Round Column -->
    <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Date
        </mat-header-cell>
        <mat-cell *matCellDef="let set">{{set.time * 1000 | date}}</mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<mat-paginator [length]="sets.length" [pageSize]="20" [pageSizeOptions] = "['5', '10', '20', '100']" [showFirstLastButtons]="true"></mat-paginator>